<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Front Reto02</a>

            <div class="collapse navbar-collapse"> 
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="/roles">Roles</a>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <a class="nav-link" href="/Rolform">Creación</a>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
        <router-outlet></router-outlet>
      </div>    
</div>